/*=============
 Global
 ============ */
	body { 
 background: url("../img/bg.gif");
 font-family: 'Voltaire', sans-serif;
	}

/*=============
 layout
 ============ */
.container {
	background: grey;
	margin: 0 auto;
	width: 96%; /*960px you choose the width often 95 or 96%*/
	max-width:960px; /*960px*/
	-webkit-box-shadow: 10px 10px 5px -7px rgba(128,128,128,0.59);
	-moz-box-shadow: 10px 10px 5px -7px rgba(128,128,128,0.59);
	box-shadow: 10px 10px 5px -7px rgba(128,128,128,0.59);
}

nav {
	width: 96%; /*960px/960px=100%*/		
}

article {
	width: 96%; /*640px/960px=66.6666666%*/
}

aside {
	width: 96%; /*320px/960px=33.333333333%*/
	
}

footer {
	clear: both;
	
}

img {
	max-width: 96%;
}

/*=============
 type
 ============ */
 
 h1 {
	 font-size: 2.25em; /*32px/16px=2.25em*/
	 text-transform:uppercase;
	 color: white;
 }
 
 h2 {
	font-size: 1.75em; /*28px/16px=1.75em*/
	text-transform:uppercase; 
	color: white;
}

h3 {
	font-size: 1.375em; /*22px/16px=1.375em*/
	text-transform:uppercase;
	color:white;
}

p {
	font-size: 1.125em; /*18px/16px=1.125em*/
	color:white;
	
}

a {
	font-size: 1.125em; /*18px/16px=1.125em*/
	color:white;
}

footer {
	font-size: .8em;
}




/*=============
 Global
 ============ */
a {
	text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #CCC;
}

a:hover {
	color: white;
}

li {
	list-style: none;
}

/*=============
 title
 ============ */
 
 h1 {
	 padding: 1% 7% 1% 2%;
	 bottom-border: 10px solid white;
	 float: left;
 }

/*=============
 nav
 ============ */

nav li {
	display: block;
	float: left;
	padding: 4% 1%;
}

nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*=============
 article
 ============ */

article h2 {
	padding: 0 2% 0 2%;
	float: left;
}

article p {
	width: 41.66666667%; /*400px/960px=41.666666667%*/
	float: left;
	padding: 0 2% 0 2%;
}

article:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*=============
 aside
 ============ */
 
aside section {
	padding: 0 2% 0 2%;
}

aside:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*=============
 footer
 ============ */

footer {
	padding: 0 2% 0 2%;
}

/*=============
 img
 ============ */

#girl {
	float: left;
	width: 36.458333%; /*350px/960px=36.458333*/
	padding: 2.6%;	
}

#group-flappers {
	width: 36.458333% ; /*350px/960px=36.458333*/
	float: right;
	padding: 0 0 0 2%;		
}

#dancer { 
	float: left;
	width: 25%; /*200px x 195px*/
	padding: 0 2% 0 0;
}

/*=============
 desktop
 ============ */
 
 @media screen and (max-width: 960px) {
	
	
 }
 
/*end of desktop*/
 

/*=============
 tablet
 ============ */
 
 @media screen and (max-width: 768px) {
	
	article p{
		width: 78.125%;
	}
		
	#girl {
		float: none;
		padding: 0 0 0 4%;
	}
	
	#group-flappers {
		padding: 0 0 0 4%;
	}
	
	h1 {
		float: none;
		padding: 3% 0 0 4%;
	}
	
	nav li {
		float: none;
		padding: 1.5% 1.5%;
	}
	nav ul {
	 padding: 0 0 0 3%;	
		}
	
	article h2 {
		float: none;
		padding: 0 0 0 4%;
	}	
	
	article p {
		float: none;
		padding: 0 0 0 4%;
	}
	
	aside {
		padding: 0 0 0 2%;
	}
	
	aside h3 {
	float: none;	
	}	
	
 }
 
/*end of tablet*/
 
/*=============
 mobile
 ============ */
 
 @media screen and (max-width: 480px) {
	
	article {
		float: none;
	}
	
	aside {
	float: none;
	}
	
	#girl {
		width: 72.916667%;
	}
	
	#group-flappers {
	width: 82.4216547%;
	float: left;
	padding: 0 0 2% 0;
	}
	
	article h2 {
		float: none;
	}

	nav li {
	display: inline;
 	}
	
	article p {
	 width: 83.333333333%;
		}
/*end of mobile*/

 
